.vs
.DS_Store

src/solvers-legacy/__pycache__

src/simulator/__pycache__

src/field_generator/__pycache__

src/processing/__pycache__
src/shared/__pycache__
src/utils/__pycache__

examples/notebooks/.ipynb_checkpoints

evaluation/benchmarks/memory/memory-*

evaluation/interferometry_testing/.ipynb_checkpoints

examples/jobs/run_scripts/.ipynb_checkpoints

# can't just do .../error_reading as that ignores the whole directory not just the files within - ! can't override that
evaluation/error_reading/*
!evaluation/error_reading/error_parser.py

**/__pycache__/
**/.ipynb_checkpoints/